.fd-app-hobby-container{
  padding: 80px 0px;
  .fd-app-hobby-content{
    padding: 0px 15px;
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
    h3{
      margin-bottom: 25px;
      font-weight: 700;
      font-size: 42px;
      color: #000000;
      text-align: center;
      margin: 0px 0px 15px;
      display: block;
      letter-spacing: 2px;
    }
    p{
      color: #666;
      text-align: center;
      margin: 0px 0px 10px;
    }
    .fd-hobby-btn{
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 48px;
      background: #44b272;
      border-radius: 4px;
      height:48px;
      letter-spacing: .2em;
      padding: 0% 30px;
      display: inline-block;
      margin: 20px 20px 10px 0;
      font-weight: 700;
    }
  }
}